*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    font-family: 'Phudu', sans-serif;
    font-weight: 700;
}

            /* Accueil */

.accueil {
    width: 100vw;
    height: 200px;
    background: #adff2f;
    margin: 0px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.accueil img {
    position: relative;
    border-radius: 50%;
    margin-top: 5px;
    width: 190px;
    height: 190px;
    padding: 10px;
}

.accueil h1 {
    margin: 0 0 0 450px;
    line-height: 200px;
    font-size: 4rem;
}

@media screen and (max-width: 840px) {
    .accueil {
        height: 150px;
        min-height: auto;
    }
    .accueil h1 {
        font-size: 3em;
        line-height: 150px;
        margin: 0 0 0 80px;
    }
    .accueil img {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 700px) {
    .accueil {
        height: 150px;
        min-height: auto;
    }
    .accueil h1 {
        font-size: 2em;
        line-height: 150px;
        margin: 0 0 0 80px;
    }
    .accueil img {
        width: 140px;
        height: 140px;
    }
}

@media screen and (max-width: 400px) {
    .accueil {
        width: 100vw;
        height: 100px;
        min-height: auto;
    }
    .accueil h1 {
        font-size: 1.2em;
        line-height: 100px;
        margin-left: 15px;
    }
    .accueil img {
        width: 90px;
        height: 90px;
    }
}
@media screen and (max-width: 420px) {
    .accueil {
        width: 100vw;
        height: 100px;
        min-height: auto;
    }
    .accueil h1 {
        font-size: 1.2em;
        line-height: 100px;
        margin-left: 15px;
    }
    .accueil img {
        width: 90px;
        height: 90px;
    }
}
        /* Navigation */

nav {
    position:absolute;
    top: 4px;
    transform: translateY(-50%);
    height: 70px;
    width: 100%;
    
}
/* .menu-burger {
    width: 50px;
    position: absolute;
    top: -90px;
    right: 15px;
    display: none;
    z-index: 25;
} */
.liste-nav {
    display: flex;
    justify-content: end;
    align-content: center;
}
.item-nav {
    text-align: center;
    line-height: 70px;
    margin: 0 10px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #040404;
    font-size: 19px;
}
.line {
    
    flex-direction: column;
    background: #111;
    margin: 10px;
}
.line .lien-ext {
    color: #adff2f;
    padding: 10px;
   
}
.line .lien-ext::after {
    display: block;
    margin: 0 auto;
    height: 2px;
    background: #adff2f;
    content: "";
    transition: width 0.2s ease-in-out;
    width: 0px;
}
.line-ext .lien-ext:hover::after {
    width: 100%;
}
.item-nav a::after {
    display: block;
    margin: 0 auto;
    height: 2px;
    background: #030303;
    content: "";
    transition: width 0.2s ease-in-out;
    width: 0px;
}
.item-nav a:hover::after {
    width: 100%;
}
@media screen and (max-width: 1920px){
    nav {
        top: 150px;
        height: 70px;
    }
    .liste-nav {
        line-height: 50px;
    }
    .lien-nav {
        font-size: 19px;
    }
    .line {
       display: none;
    }
    .line.active {
       transition: 0.25s;
       display: flex;
    }
}
@media screen and (max-width: 840px){
    nav {
        top: 100px;
        height: 50px;
    }
    .liste-nav {
        line-height: 50px;
    }
    .lien-nav {
        font-size: 16px;
    }
}
@media screen and (max-width: 700px) {
    nav {
        top: 120px;
        height: 50px;
    }
    .liste-nav {
        line-height: 50px;
    }
    .lien-nav {
        font-size: 16px;
    }
    .lien-ext {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    /* .menu-burger {
        width: 25px;
        display: block;
        top: -30px;
    } */
    .nav {
        top: 120px;
        height: 50px;
    }
    .liste-nav {
        padding-top: 5px;
        display: inline-block;
        /* flex-direction: column; */
        /* justify-content: center; */
        background: linear-gradient(to bottom, rgb(22, 85, 105), #adff2f);
        height: 75px;
        position: relative;
        display: none;
    }
    .liste-nav.active {
        display: block;
    }
    .lien-nav { 
        font-size: 16px;
        font-weight: 300;
        position: relative;

        
    }
    .item-nav {
        transform: translate(-25px);
        margin-right: px;
    }
}
@media screen and (max-width: 420px) {
    /* .menu-burger {
        width: 25px;
        display: block;
        top: -30px;
    } */
    .liste-nav {
        padding-top: 5px;
        display: inline-block;
        background: linear-gradient(to bottom, rgb(22, 85, 105), #adff2f);
        height: 75px;
        position: relative;
        display: none;
    }
    .liste-nav.active {
        display: block;
    }
    .lien-nav { 
        font-size: 16px;
        font-weight: 300;
        position: relative;

        
    }
    .item-nav {
        transform: translate(-25px);
        margin-right: px;
    }
}
            /* Citation + lien vers TZCLD */

.citation {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
}

 #TZCLD {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    color: #030303;
}

@media screen and (max-width: 840px){
    .citation {
        font-size: 25px;
    }
}
@media screen and (max-width: 365px){
    .citation {
        font-size: 15px;
        margin: 10px;
    }
    #TZCLD {
        font-size: 15px;
    }
}
@media screen and (max-width: 420px){
    .citation {
        font-size: 15px;
        margin: 10px;
    }
    #TZCLD {
        font-size: 15px;
    }
}
            /* Articles */
.container {
    width: 1200px;
    height: 600px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #968888;
    background-image:url(ressources/photos/Habitants\ 1.JPG);
    background-size: cover;
    background-position: -35px;
    object-fit: cover;
    shape-outside: circle();
    float: left;
    margin: 15px 15px 5px 15px;
    cursor: pointer;
    transition: 2s;
}

.circle:hover {
    transform: scale(3.5, 2.5) perspective(50px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.item {
    background: #adff2f;
    border-radius: 10px;
}

.item h2 {
    margin: 5px 0 5px 55px;
    font-weight: 700;
}
.item p {
    margin: 0px 15px 0px 0;
    padding-left: 10px;
}

.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #968888;
    background-image:url(ressources/photos/Quartier\.JPG);
    background-size: cover;
    background-position: -35px ;
    shape-outside: circle();
    float: left;
    margin: 15px 15px 5px 15px;
    cursor: pointer;
    transition: 2s;
}

.circle2:hover {
    transform: scale(3.5, 2.5) perspective(50px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.circle3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #968888;
    background-image:url(ressources/photos/Tps/Flashcoop\.JPG);
    background-size: cover;
    background-position: -35px ;
    shape-outside: circle();
    float: left;
    margin: 15px 15px 5px 15px;
    cursor: pointer;
    transition: 2s;
}

.circle3:hover {
    transform: scale(3.5, 2.5) perspective(50px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.circle4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #968888;
    background-image:url(ressources/photos/Marché\ de\ noël.JPG);
    background-size: cover;
    background-position: -35px ;
    shape-outside: circle();
    float: left;
    margin: 15px 15px 5px 15px;
    cursor: pointer;
    transition: 2s;
}

.circle4:hover {
    transform: scale(3.5, 2.5) perspective(50px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.circle5 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #968888;
    background-image:url(ressources/photos/Réunion\.JPG);
    background-size: cover;
    background-position: -55px ;
    shape-outside: circle();
    float: left;
    margin: 15px 15px 5px 15px;
    cursor: pointer;
    transition: 2s;
}

.circle5:hover {
    transform: scale(3.5, 2.5) perspective(50px);
    background-size: cover;
    background-position: right;
    border-radius: 10px;
}
.circle6 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #968888;
    background-image:url(ressources/photos/Maison\ des\ projets.JPG);
    background-size: cover;
    background-position: -35px ;
    shape-outside: circle();
    float: left;
    margin: 15px 15px 5px 15px;
    cursor: pointer;
    transition: 2s;
}

.circle6:hover {
    transform: scale(3.5, 2.5) perspective(50px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media screen and (max-width: 835px){
    .container {
        width: 750px;
        height: auto;
        margin: 30px auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        transition: 0.01s;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
    
    .circle:active {
        transform: scale(2, 2) perspective(25px);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
    .item {
        height: auto;
    }
    .item h2 {
        margin: 5px 0 5px 55px;
        font-weight: 700;
        font-size: 20px;
    }
    .item p {
        margin: 0px 15px 0px 0;
        padding-left: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 365px){
    .container {
        width: 350px;
        height: auto;
        margin: 5px auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .circle {
        width: 75px;
        height: 75px;
    }
    .item h2 {
        margin: 5px 0 5px 55px;
        font-weight: 600;
        font-size: 15px;
    }
    .item p {
        margin: 0px 15px 0px 0;
        padding-left: 10px;
        font-size: 10px;
    }
}
@media screen and (max-width: 420px){ 
    .container {
        width: 350px;
        height: auto;
        margin: 5px auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .circle {
        width: 75px;
        height: 75px;
    }
    .item h2 {
        margin: 5px 0 5px 55px;
        font-weight: 600;
        font-size: 15px;
    }
    .item p {
        margin: 0px 15px 0px 0;
        padding-left: 10px;
        font-size: 10px;
    }
}
    /* Bas de page */

.footer-positioned {
    width: 100%;
    top: 100%;

}
.footer {
    width:  100%;
    height: 200px;
    background: greenyellow;
}
.img-responsive {
    width: 100%;
    height: 100%;
}
#copy {
    margin: 10px;
    position: sticky;
    top: 100%;
}
#copyright  {
    display: inline-block;
    color: #030303;
    position: absolute;
    margin-left: 0;
    padding-left: 5px;
}

        /* Gallerie */
.test1 {
    height: 150px;
}
.test {
    height: 50px;
    background: #adff2f;
}
.photo {
    height: 20px;
    
}
.sous-titre {
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
}
/* .sous-titre {
    position: absolute;
    top: 25px;
    left: 49%;
    transform: translate(-30%);
    /* transition: 1s ease-in-out; */
/* } */


.panneau {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
} */

.gallery {
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-auto-rows: 300px;
    grid-gap: 15px;
    list-style-type: none;
}

img {
    width: 50px;
    height: 50px;
}

.img-card {
    background: #968888;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid;
    transition: transform 0.9s ease-in-out;
}

.img-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul a img {
    width: 50px;
}

.context {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #adff2f;
    border-top: 1px solid;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.8s ease-in-out;
}

.date {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: teal;
}

.lieu {
    font-size: 16px;
    font-weight: 800;
    color: #040404;
}


.img-content {
    will-change: transform;
}
.img-card:hover .context {
    transform: translate(0);
    opacity: 0.9;
}

.img-card:hover {
    transform: scale(0.95);
    border: none;
    /* box-shadow: 0 0 0 2px teal; */
    outline: 1px solid teal;
}
